<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ArquillianServletRunner</servlet-name>
        <servlet-class>org.jboss.arquillian.protocol.servlet.runner.ServletTestRunner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArquillianServletRunner</servlet-name>
        <url-pattern>/ArquillianServletRunner</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <ejb-local-ref>
        <ejb-ref-name>productoEntity</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>productoEntity1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>productoEntity2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
    </ejb-local-ref>
</web-app>
